.container {
  width: 1000px;
  height: 600px;
  background-color: #ccc;
  display: flex;
  gap: 10px;
}

.element {
  background-color: beige;
  width: 100px;
  height: 100px;
}

div,
main,
aside {
  box-sizing: border-box;
}
.center {
  margin-top: 20px;
  display: flex; /* margin: 0 auto; */
  justify-content: center;
}
.content {
  display: flex;
  max-width: 1140px;

  /* margin: 0 auto; */ /*=====*/ /*display: flex; justify-content: center;*/
}

main {
  width: 70%;
  background-color: #ccc;
  padding: 30px;
}

aside {
  width: 30%;
  background-color: bisque;
}

@media (max-width: 480px) {
  .content {
    flex-direction: column;
  }

  main {
    width: 100%;
    padding: 20px;
  }

  aside {
    width: 100%;
  }
}
